/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-font{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.font{
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
}

header {
  width: 100%;
  top: 0;
}

footer {
  width: 100%;
  top: 0;
  align-items: center;
}

.header-nav{
  margin: 0 0 0 auto;
}

ul.header-menu{
  display: flex;
}

li.header-menu{
  margin: 0 0 0 20px;
}

ul.menu {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

li.menu {
  margin: 0 5px;
}

top {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
  margin: 0 5px;
}
