/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-font{
  font-family: 'Zen Maru Gothic', sans-serif;
}

.font{
  font-family: 'Merriweather', serif;
}

.header-nav{
  margin: 0 0 0 auto;
}

ul{
  display: flex;
}

li{
  margin: 0 0 0 50px;
}

body {
  margin: 0;
  padding: 30px 4% 10px;
  width: 100%;
}

header {
  width: 100%;
  padding: 40px 10px;
  top: 0;
}

footer{
  width: 100%;
  padding: 30px 4% 10px;
  top: 0;
  align-items: center;
}

top{
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

menu{
  display: flex;
}
